/*
HEADER STYLES
*/
div.banner {
  height: 200px;
  background: url(./img/logo.svg) #efefe5 repeat-x;
  background-position: left bottom;
  background-size: contain;
}

header.header {
  div.title.container {
    #page-title {
      font-family: 'CLoister Opti Black';
      font-size: 4.8em;
      padding-top: 2vh;
      text-align: center;
    }
  }
  div.nav-wrap {
    border-top: 5px solid #ddd5cc;
    border-bottom: 5px solid #ddd5cc;
    background: #222222;
    nav.nav.header-nav.container {
      font-size: 1.2em;
      ul {
        margin-bottom: 0;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        li {
          margin-bottom: 0;
          a {
            color: #ddd5cc;
            display: block;
            padding: 0.8rem 1rem;
            text-decoration: none;
            background: none;
            border-bottom: none;
            @include transition(all, 500ms, ease-out);
          }
          a:hover, a:active {
            color: #ffffff;
            background: #303030;
          }
        }
        li.current-menu-item {
          a{
            color: #ffffff;
          }
        }
        li:hover {

        }
      }
    }
  }
}
